 {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
</head>
<body>
<link rel="stylesheet" href="{% static "style.css" %}">
<h1 class='header-text'>Ukpono Blogs</h1>
<div class="header">
<div class="main">

</div>

<div class="cards-container">
{% for blog in Blogs reversed %}
<a href="/blog/{{blog.id}}">
<div class="card">
    
<h1>{{blog.title}}</h1>
<p>{{blog.current_date}}</p>
<p>{{blog.body| truncatewords:20 }}</p>
 </div>
</a>
 {% endfor %}
</div>
</div>
</body>
</html>